@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 2</h1>
    <p class="lead">In assignment 2 we produce a solution that implements a CRUD using MVC methodologies for the entity Trainers.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>From the menu select "Trainers"</h2>

    </div>

</div>